<div class="container">
  <div class="row">
    
    <%= render "interests/latests" %>

    <div class="span9"><!-- MAIN CONTENT -->
      <%= form_for @interest do |f| %>
        <% if @interest.errors.any? %>
          <!-- alert-$type: warning can be error, success -->
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul>
              <% @interest.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <div class="well">
          <legend style="font-size:38px;">New interest</legend>
              <%= f.label "Name" %>
              <%= f.text_field :name %>
              <br>
            <%= f.submit "Create", :class => "btn btn-primary" %>
          <% end %> 
      </div>

      <hr>
      <div>
        © Find.me
      </div>
        
    </div><!-- END OF MAIN CONTENT -->
  </div>
</div>