<div class="container">
  <div class="row">
    
    <%= render "interests/latests" %>

    <div class="span9"><!-- MAIN CONTENT -->

      <div class="well">
          <legend style="font-size:38px;">Advanced Search</legend>
          <%= form_for @search do |f| %>
              <%= f.label "Skills" %>
              <%= f.text_field :keywords %>
              <%= f.label :city %>
              <%= f.text_field :city %>
            <%= f.submit "Search", :class => "btn btn-primary" %>
          <% end %> 
      </div>

      <hr>
      <div>
        © Find.me
      </div>
        
    </div><!-- END OF MAIN CONTENT -->
  </div>
</div>