<div class="container">
  <div class="row">
    <div class="span3"><!-- SIDEBAR -->
      <div class="well sidebar-nav">
        <ul class="nav nav-list" style="margin-left:-20px;">
          <li class="nav-header">
            Top Interests
          </li>
          <% top_interests.each do |interest| %>
            <li>
              <h5>
                <%= interest.name %>
                <span class="btn-group pull-right">
                  <%= link_to "+1", "#", :class => "btn btn-mini btn-success plus-one-tooltip", :rel => "tooltip", data: { id: interest.id, original_title: "Upvote rep for interest"} %>
                </span>
              </h5>
            </li>
          <% end %>
        </ul>
        <hr>
      </div>
    </div><!-- END OF SIDEBAR -->


    <div class="span9"><!-- MAIN CONTENT -->
      <h1>Your profile</h1>
        <!-- alert-$type: warning can be error, success -->
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Search by interests:</strong><br>
          <p>Type in one or more interests to start exloring others interets!</p>
        </div>

      <div class="well">
        <legend>Search:
          <div class="pull-right" style="margin-top:-5px;">
            <%= link_to "New search", new_search_path, :class => "btn btn-danger" %> 
          </div> 
        </legend>
        <%= form_for @search, :class => "form-search" do |f| %>
          <%= f.label "Skills" %>
          <%= f.text_field :keywords, :placeholder => "Freetext search with auto-complete" %>
          <br>
          <%= f.label :city %>
          <%= f.text_field :city, :placeholder => "Freetext search with auto-complete" %>
          <br>
          <%= f.submit "Update search", :class => "btn btn-primary" %>
        <% end %>
        <br>
        <hr>
        <%= render @search.users %>

      </div>

      <hr>
      <div>
        © Find.me
      </div>
        
    </div><!-- END OF MAIN CONTENT -->
  </div>
</div>