<!DOCTYPE html>
<html>
<head>
    <title>Trialbee - Findme</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= csrf_meta_tags %>
  </head>
  <body>

	<div class="navbar navbar-fixed-top navbar-inverse">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="brand" href="#">
	        Find.me
	      </a>
	      <ul class="nav">
	        <li>
	         <%= link_to "Home", root_url %>
	        </li>
	        <li>
	         <%= link_to "Interest", new_interest_path %>
	        </li>
	        <li>
	          <%= link_to "Search", new_search_path %>
	        </li>
        	<% if current_user %>
	        	<li>
	        		<%= link_to current_user.email, home_index_path %>
	        	</li>
	        	<li>
	        		<%= link_to "Log out", logout_path %>
	        	</li>
          	<% else %>
          	 	<li>
			          <%= link_to "Sign up", signup_path %>
			        </li>
	          	<li>
		          	<%= link_to "Log in", login_path %>
	          	</li>
          <% end %>
	      </ul>
	    </div>
	  </div>
	</div>

	<% flash.each do |name, msg| %>
    	<!-- alert-$type: warning can be error, success -->
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <ul>
                <li><strong><%= msg %></strong></li>
            </ul>
          </div>
  	<% end %>

	<%= yield %>
  	<%= javascript_include_tag "application" %>
  </body>
</html>